{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Monitoramento de Ativos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body style="height: 100vh">
    <div class="bg-dark p-3 mb-2 text-white">
      <div class="container" style="height: 100%">
        <h1 class="display-4">Monitoramento de Ativos</h1>
      </div>
    </div>

    <div class="bg-light" style="height: calc(100% - 7.5rem)">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>
