{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Monitoramento de Ativos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>Monitoramento de Ativos</h1>
    <a class="button" href="{% url 'asset_create' %}">Adicionar Ativo</a>
    <ul>
        {% for asset in assets %}
        <li>
            {{ asset.ticker }} -
            <a href="{% url 'price_history' asset.pk %}">Histórico de Preços</a> -
            <a href="{% url 'asset_update' asset.pk %}">Editar</a> -
            <form action="{% url 'asset_delete' asset.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Deletar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
