{% extends 'index.html' %} {% load static %} {% block content %}
<div class="container py-4">
  <div class="row border rounded">
    <div class="bg-white col mt-2">
      <h1>Histórico de Preços para {{ asset.ticker }}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          {% for record in price_history %}
          <tr>
            <td>{{ record.Date }}</td>
            <td>{{ record.Close }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="d-flex justify-content-end mb-2">
        <a class="btn btn-secondary" role="button" href="{% url 'asset_list' %}"
          >Voltar à Lista de Ativos</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
