{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Histórico de Preços</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>Histórico de Preços para {{ asset.ticker }}</h1>
    <ul>
        {% for record in price_history %}
            <li>{{ record.Date }}: {{ record.Close }}</li>
        {% endfor %}
    </ul>
    <a class="button" href="{% url 'asset_list' %}">Voltar à Lista de Ativos</a>
</body>
</html>
